<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link href="static/img/apple-icon.png" rel="apple-touch-icon" sizes="76x76">
    <link href="static/img/favicon.ico" rel="icon" type="image/png">
    <title>Hexa Fifa 18 Season1</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/style2.css" rel="stylesheet">
    <style type="text/css">
        body, html {
    height: 100%;
    margin: 0;
}

.bg {
    /* The image used */
    background-image: url("static/img/9vkE5D4ytKM8So2A75Ekbk-970-80.jpg");

    /* Full height */
    height: 100%;
    width: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
    </style>
</head>

<body style="font-family: dusha;">
    <div class="wrapper">
            <div class="bg" >
            <h1 style="font-family: dusha; font-size: 4em;color: black">404!!!Football Haters have destroyed this page</h1>
            <p1 style="font-family: dusha; font-size: 1.5em;color: black">Click Here to<a href="/login"> Login</a> Again or Press Back Button to go to the Previous Page</p1>>
            </div>
</body>

</html>